<link href="Footer.component.css" rel="stylesheet" />

<footer class="footer text-center">
  <div class="container">
      <div class="row">
          <!-- Footer Location-->
          <div class="col-lg-4 mb-5 mb-lg-0">
              <h4 class="text-uppercase mb-4">Localizacion </h4>
              <p class="lead mb-4">
                  Caja de salud nacional, Av.Blanco Galindo
                <br />
              </p>
          </div>
          <!-- Footer About Text-->
          <div class="col-lg-4">
              <h4 class="text-uppercase mb-4">Desarrolladores WEB</h4>
              <p class="lead mb-0">
                Fabian, Kevin, Chica
              </p>
          </div>
      </div>
  </div>

</footer>
          <!-- Copyright Section-->
<div class="copyright py-4 text-center text-white">
  <div class="container"><small>Copyright &copy; Univalle 2022</small></div>
</div>