<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>CodePen - Stylish Card</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
  <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Varela+Round'>
</head>

<body>
  <!-- partial:index.partial.html -->
  <div class="container" style="margin-top:50px;">
    <div class="card">
      <div class="imgBx">
        <div class="card-image">
          <img
            src="https://thumbs.dreamstime.com/b/signo-vectorial-reservado-de-vector-aislado-sobre-fondo-blanco-220019861.jpg" />
        </div>
        <div class="card-heading">
          Lunes
        </div>
        <div class="card-text">
          7:00Am - 10:00Am
        </div>
        <a href="#" class="card-button bg-danger"> Ocupado</a>
      </div>
    </div>
    <div class="card">
      <div class="imgBx">
        <div class="card-image">
          <img
            src="https://thumbs.dreamstime.com/b/signo-vectorial-reservado-de-vector-aislado-sobre-fondo-blanco-220019861.jpg" />
        </div>
        <div class="card-heading">
          Martes
        </div>
        <div class="card-text">
          7:00Am - 10:00Am
        </div>
        <a href="#" class="card-button bg-danger"> Ocupado</a>
      </div>
    </div>
    <div class="card">
      <div class="imgBx">
        <div class="card-image">
          <img
            src="https://t4.ftcdn.net/jpg/00/45/14/87/360_F_45148719_zRmQUhuGflYDgZB56rqVm5pWvqSkstyi.jpg"  height="250" width="445"/>
        </div>
        <div class="card-heading">
          Miercoles
        </div>
        <div class="card-text">
          7:00Am - 10:00Am
        </div>
        <a href="#" class="card-button"> Libre</a>
      </div>
    </div>
    <div class="card">
      <div class="imgBx">
        <div class="card-image">
          <img
          src="https://t4.ftcdn.net/jpg/00/45/14/87/360_F_45148719_zRmQUhuGflYDgZB56rqVm5pWvqSkstyi.jpg"  height="250" width="445"/>
        </div>
        <div class="card-heading">
          Jueves
        </div>
        <div class="card-text">
          7:00Am - 10:00Am
        </div>
        <a href="#" class="card-button"> Libre</a>
      </div>
    </div>
    <div class="card">
      <div class="imgBx">
        <div class="card-image">
          <img
            src="https://thumbs.dreamstime.com/b/signo-vectorial-reservado-de-vector-aislado-sobre-fondo-blanco-220019861.jpg" />
        </div>
        <div class="card-heading">
          Viernes
        </div>
        <div class="card-text">
          7:00Am - 10:00Am
        </div>
        <a href="#" class="card-button bg-danger"> Ocupado</a>
      </div>
    </div>

    <div class="card">
      <div class="imgBx">
        <div class="card-image">
          <img
          src="https://t4.ftcdn.net/jpg/00/45/14/87/360_F_45148719_zRmQUhuGflYDgZB56rqVm5pWvqSkstyi.jpg"  height="250" width="445"/>
        </div>
        <div class="card-heading">
          Sabado
        </div>
        <div class="card-text">
          7:00Am - 10:00Am
        </div>
        <a href="#" class="card-button"> Libre</a>
      </div>
    </div>
  </div>
</body>
</html>
